<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="Css/dangnhapad.css">
        <title>Dành cho người quản trị</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div id ="full">
                <div class="slideshow-container">
                        <nav id="fixNav">
                            <ul>
                                <img id="logo" src="Image/logo1.JPG"  >
                                <li><a href="/" >Đăng Ký Lớp</a></li>
                                <li><a href="https://www.facebook.com/PINKYogacenter/">Liên Hệ</a></li>
                                <li><a href="#">Đăng Lớp Học</a></li>
                                <div class="menubt">
                                    <button class="btdk" onclick="document.getElementById('f').style.display='block'" >Đăng ký</button>
                                </div>
                            </ul>    
                        </nav>
                </div>
                <div id="menu">
                    <form id="f" onsubmit="return check_signup()" name="dangky"   method="POST" action="/admin/addad" >
                        <div class="menu1">
                            <center>
                          <h1>Đăng ký thông tin người quản lý  </h1>
                          <p>Chia sẻ lớp học PINK YOGA</p></center>
                          <hr>
                          <label><b>Họ Tên</b></label>
                          <input type="text" placeholder="Tên" name="fullname" required>        
                          <label><b>Tài Khoản</b></label>
                          <input type="text" placeholder="Tài Khoản" name="uname" required>                                  
                          <label><b>Mật khẩu</b></label>
                          <input  type="password" placeholder="Mật khẩu" name="psw" required>
                          <tr> <td colspan="2" class="kt" id="ktmk" ></td></tr>
                          <label ><b>Nhập lại mật khẩu</b></label>
                          <input type="password" placeholder="Nhập lại mật khẩ" name="psw1" required>
                          <label ><b>Địa chỉ</b></label>
                          <input type="text" placeholder="Địa chỉ" name="address" required>
                          <label ><b>Số Điện Thoại</b></label>
                          <input type="text" placeholder="Số Điện Thoại" name="sdt" required>
                          <button type="submit" class="registerbtn">Đăng ký</button>
                          <button type="button" onclick="document.getElementById('f').style.display='none'" class="cancelbtn">Thoát</button>
                        </div>
                        <div class="container signin">
                          <p>Đã có tài khoản ?  <a href="#">Đăng nhập</a>.</p>
                        </div>
                      </form> 
                    <div id='menu2'>
                            <h5>Đăng nhập</h5>
                            <form name="dangnhap" action="/admin/alogin" method="POST">
                                <input type="text" id="fname" name="tendn"  placeholder="Tên đăng nhập..." required>
                                <input type="password" id="lname" name="mk"  placeholder="Mật khẩu..." required>    
                                <input type="submit" value="Đăng nhập">
                                <hr>
                                <p>Chưa có tài khoản ?  <a onclick="fdangky()"  href="#">Đăng ký</a>.</p>
                             </form>
                    </div>
                </div>
               
        </div>
    </body>
</html>
<script>
          
</script>