<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="vi">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Trang chu admin</title>
  <link rel="stylesheet" href="/css/trangchuad.css" type="text/css" media="screen" />
</head>
<body>
  <div id="full">
      <div class="slideshow-container">
          <nav id="fixNav">
              <ul>
                  <img id="logo" src="/Image/logo1.JPG"  >
                  <li><a href="/themlop">Đăng Lớp</a></li>
                  <li><a href="/khoahocad">Xem Ds Lớp</a></li>
                  <li><a href="/admin/khoahocnchad">Xem NCHoc</a></li>
                  <li><a href="/admin/khoahochvad">Lop Hoc</a></li>
                  <div class="menubt">
                      <button class="btdn"><a href="/dangxuat"  style="text-decoration: none; color:white">Đăng Xuất</a></button>
                  </div> 
                  
              </ul>
              
          </nav>
      
      <div id='menubook'>
          <div id="list-class">
             <a href='http://www.yogaplus.vn/blog/gentle-yoga-co-phai-la-lop-hoc-yoga-danh-cho-ngoi-moi-bat-dau'><div class="dpl" style="background-image:url(/Image/gentleyoga.jpg) ">
                  <p id='tp'>Gentle Yoga</p>
              </div></a>
              <a href='http://universalyoga.com.vn/vi/dynamic-yoga-vi/'><div class="dpl" style="background-image:url(/Image/dynamicyoga.jpg)">
                  <p>Dynamic Yoga</p>
              </div></a>
              <a href='https://tuoitre.vn/bay-cung-yoga-fly-20180401102205944.htm'><div class="dpl" style="background-image:url(/Image/highflyyoga.jpg)">
                  <p>High Fly</p>
              </div></a>
              <a href='http://universalyoga.com.vn/vi/yoga-twist-vi/'><div class="dpl" style="background-image:url(/Image/yogatwist.jpg)">
                  <p>Yoga Twist</p>
              </div></a>
              
          </div>
          <div id="schedule">
              <div id="title">
                  <p>Thời Khóa Biểu</p>
                  <hr>
      <div class="timetable" style="background-image:url(/Image/timetable.jpg)"></div>
              </div>
              
              </ul>
          </div> 
      </div>
  </div>
</body> 
</html>